build/
debug/
zephyr/

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
.vscode/.browse.vc.db
.vscode/ipch/

.venv/
env/
venv/
__pycache__/
*.py[cod]

.mcuxpresso/
SEC_LOG.txt
*.SVD
*.svd

Thumbs.db
.DS_Store

__repo__
.vscode
/svd

CMakePresets.json